.title {
  display: flex;
  justify-content: center;
  background-color: #6BF489;
  padding: 2rem;
  margin: 0;
  font-size: 2.5rem;
}

.nav-tabs-container {
  display: flex;
  justify-content: space-evenly;
  // margin-top: 1rem;
}

.terpenes, .about {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  color: black;
}

.terpenes {
  background-color: #4995BF;
}

.about {
  background-color: #BF499E;
}

a {
  text-decoration: none;
}