.title {
  display: flex;
  justify-content: center;
  background-color: #6BF489;
  padding: 2rem;
  margin: 0;
  font-size: 3rem;
  width: 100%;
  border: none;
}

.nav-tabs-container {
  display: flex;
  justify-content: space-evenly;
}

.terpenes, .about {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  border: none;
  width: 50vw;
}

.terpenes {
  background-color: #4995BF;
}

.about {
  background-color: #BF499E;
}

a {
  text-decoration: none;
  color: black;
}